@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}


.statistics {
    padding-top: 75px;
}

.statistics__wrapper {
    max-width: 1585px;
    margin: 0 auto;
}

.statistics__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    text-align: center;
}

.statistics__progress-bar {
    display: flex;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 71px;
    gap: 19px;
    max-width: fit-content;
}

.progress-bar{
    width: 756px;
    height: 22px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
}

.progress-bar__inner {
    height: 100%;
    width: 177px;
    border-radius: 30px;
    background-color: #80D9FF;
    opacity: 41%;
    position: absolute;
}

.progress-bar__value {
    font-size: 30px;
    font-weight: 500;
    padding-top: 3%;
    margin-left: 40%;
}

.course-results__title {
    margin-top: 45px;
    padding-left: 244px;
    padding-bottom: 45px;
    font-size: 36px;
    border-bottom: 1px solid black;
}

.course-results__item {
    display: flex;
    padding: 31px 0px 29px 167px;
    border-bottom: 1px solid black;
}

.item__name {
    font-size: 24px;
    line-height: 32px;
}

.item__result {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    max-width: fit-content;
    margin-left: auto;
    margin-right: 163px;
    text-decoration: underline;
}
.gradient-progressbar progress {
        margin-left: 15%;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        margin-top: 10px;
        background: #D9D9D9;
        border: 0;
        width: 70%;
        height: 40px;
        border-radius: 20px;
        color: #BABB8F;
    }
    .gradient-progressbar progress::-webkit-progress-bar {
        background: #D9D9D9;
        border-radius: 20px;
    }
    .gradient-progressbar progress::-webkit-progress-value {
        background: linear-gradient(to bottom, #BABB8F 0%, #BABB8F 100%);
        border-radius: 20px;
    }
    .gradient-progressbar progress::-moz-progress-bar {
        background: linear-gradient(to bottom, #BABB8F 0%, #BABB8F 100%);
        border-radius: 20px;
    }

