:root {
    --header-color: #B74760;
    --sidebar: #68514A;
    --color-1: #702436;
    --color-2: #983C51;
    --color-3: #557B9A;
    --header-text: #FFFFFF;
    --footer-color: #202020;
    --background: #2A2A2A;
    --test-grad: linear-gradient(116.48deg, #702436 0%, #702436 100%);
    --info-grad: linear-gradient(116.48deg, #702436 0%, #702436 100%);
    --bonus-grad: linear-gradient(81.76deg, #702436 26.48%, #B74760 55.96%, #cf7689 68.47%);
    --card-grad: linear-gradient(116.48deg, #702436 42%, #702436 100%);
    
}