:root {
    --header-color: #B74760;
    --sidebar: #53656C;
    --color-1: #B74760;
    --color-2: #FF92AB;
    --color-3: #FDDFA3;
    --header-text: #000000;
    --footer-color: #202020;
    --background: #FFFFFF;
    --test-grad: linear-gradient(116.48deg, #FDDFA3 30%, #FFFFFF 100%);
    --test-grad: linear-gradient(116.48deg, #FDDFA3 30%, #FFFFFF 100%);
    --bonus-grad: linear-gradient(81.76deg, #35556E 26.48%, #557B9A 55.96%, #C9E8FD 68.47%);
    --test-grad: linear-gradient(116.48deg, #FDDFA3 30%, #FFFFFF 100%);
}