@import url(../css/vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Montserrat+Alternates:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Montserrat&family=Montserrat+Alternates:wght@400;500;800&display=swap');
a{
  text-decoration: none;
  color: #000000;
}
body {
 background-color: #FEFAEF;
}

.header{
    background: #330F13;
}

.header_wrapper{
    max-width: 1890px;
    height: 60px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__contacts{
    display: flex;
    gap: 20px;
}

.header__logo{
    font-size: 29px;
    font-family: 'Montserrat';
    color: #F5C184;
}
.header__logomin{
	font-size: 15px;
    font-family: 'Montserrat';
    color: #fff;
}
.header__img{
    margin-right: 5px;
}

.phone_wrapper,.mail_wrapper {
    display: flex;
    gap: 6px;
}

.logo_wrapper {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.header_mail{
    background-image: url(../img/extr/mail.svg);
    border-style: none;
    margin-right: 5px;
     margin-top: 18px;
    width: 17px;
    height: 14px;
    background-color: #330F13;
}
.header_phone{
    background-image: url(../img/extr/phone.svg);
    border-style: none;
    margin-right: 5px;
     margin-top: 15px;
    width: 13px;
    height: 17px;
    background-color: #330F13;
    white-space: nowrap;
}
.sidebar_logo{
    background-image: url(../img/extr/Claudius.svg);
    border-style: none;
    margin: 65px 120px 95px;
    width: 260px;
    height: 57px;
    background-color: #90817C;
}
.exit_img{
    background-image: url(../img/extr/exit.svg);
    border-style: none;
    margin-right: 1px;
     margin-top: 5px;
    width: 30px;
    height: 25px;
    background-color: #90817C;
}
.header__text{
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 22px;
    color: #fff;
    white-space: nowrap;
}
.header__nav-text{
    display: inline-block;
    font-family: 'Montserrat';
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.header__nav-container{
    background: #90817C;
}
.header__nav_wrapper{
    margin: 0 auto;
    max-width: 1920px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}
.header__nav{
    display: flex;
    align-items: center;
}

.footer__point{
    display: block;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    cursor: pointer;
    text-align: end;
    margin: 21px 7%;
    transition: opacity 0.2s;
    padding-bottom: 4px;
}
.footer__point:hover{
    opacity: 0.6;
}
.footer{
    background: #330F13;
    height: 250px;
}
.footer__logo{
    width: 100px;
    margin-right: 25px;
    object-fit: contain;
}
.footer__nav{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    margin: 20px 8%;
}

.footer__links{
    display: flex;
    align-items: center;
    gap: 44px;
    list-style-type: none;
    flex-wrap: wrap;
}

.footer__link{
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    transition: opacity 0.2s;
    font-family: 'Montserrat';
    font-weight: 600;
}
.footer__about{
    font-family: 'Montserrat';
    font-weight: 600;
    display: flex;
    color:#fff;
    margin:0 8%;
    justify-content: space-between;
}
.footer__container{
    display: flex;
    gap: 30px;
}
.footer__contacts {
    display: flex;
    margin: 0;
}
.footer__copyhright{
    color: #fff;
}
.footer__adress{
    color: #fff;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 510px;
    height: 100%;
    background-color: #90817C;
    z-index: 2;
    border: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    ::-webkit-scrollbar {
    display: none;
}
}
.sidebar__logo{
    margin: 65px 120px 95px;
}
.sidebar__buttons{
    list-style-type: none;
    padding: 0;
    text-align: center;
    cursor: pointer;
    overflow: scroll;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar__button{
    background: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    width: calc(100% - 70px);
    border-radius: 25px;
    margin-bottom: 29px;
    padding: 22px 0;
    cursor: pointer;
    background-color: #83736a;

}
.sidebar__button_category{
    background-image: url(../img/extr/ic_twotone-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    color: #000000;
}
.sidebar__button_subcategory{
    width: calc(100% - 140px);
    color: #000000;
}
.close_sidebar{
    background-image: url(../img/extr/close.svg);
     border-style: none;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #90817C;
}
.button{
    border: 0;
    padding: 0;
    margin:0;
    width: 25px;
    height: 25px;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #90817C;
    top: 9px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.button:hover{
    opacity: 0.6;
}
.wtf-button{
    background-image: url(../img/extr/wtf-btn.svg) ;
    margin: 0 15px 0 5px;
    width: 18px;
    height: 25px;
    cursor:default;
}
.wtf-button:hover{
    opacity: 1;
}
.home-button{
    background-image: url(../img/extr/home-btn2.svg) ;
    margin: 0 21px 0 0;


}
.mail-button {
    background-image: url(../img/Group.svg);
    width: 32px;
    height: 21px;
    margin: 0 21px 0 0;

}