@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap');

@font-face {
  font-family: 'Montserrat Alternates';
}

body {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.tel {
    margin-right: 45px;
}

.tel-logo {
    margin-left: 834px;
}

.contacts_link {
    color: #633C3C;
}

.contacts_link:hover {
    opacity: .5;
}

/* Header styles end */

/* Main styles start */

.btn-burger-menu {
    background-color: #fff;
}

.btn-home-page {
    background-color: #e9f7ff;
    border: none;
}

.btn-mail {
    background-color: #e9f7ff;
    border: none;
    margin-left: 1700px;
}


.lboard__wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.lboard__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 81px;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-top: 58px;
}

.lboard__name {
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    color: #000000;
    font-size: 55px;
    display: block;
    text-align: center;
    margin-top: 51px;

}

.lboard__item {
    position: relative;
    width: 500px;
    height: 600px;
    margin: 0px 105px 80px 105px;
    background-color: rgba(128, 217, 255, 1);
    border-radius: 20px;
}

.lboard__title {
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    font-size: 30px;
    display: block;
    text-align: center;
    display: block;
    max-width: 450px;
    margin: 0 auto;
    margin-top: -70px;
    color: #000000;
    line-height: 29px;
    padding: 21px;
}

.lboard__people {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 30px 30px 0px 30px;
}

.lboard__rectangle {
    display: block;
    max-width: 100%;
    width: 56px;
    height: 56px;
    background-color: rgba(16, 54, 106, 1);
    border-radius: 10px;
    margin: 0px 0px 15px 0px;
}

.lboard__text {
    display: flex;
    max-width: 100%;
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    color: #000000;
    font-size: 22px;
    margin: 0px 0px 15px 15px;
}

.lboard__points {
    display: flex;
    max-width: 100%;
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    color: #000000;
    font-size: 22px;
    margin: 0px 0px 15px 50px;
}

.lboard__underline {
    border-bottom: 2px solid #000;
    margin: 0px 30px 0px 30px;

}

.under-elements__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    margin-left: 125px;
}

.under-elements__text {
    font-size: 22px;
    line-height: 21px;
    border-bottom: 1px solid #000;
}

.under-elements__available-bonuses {
    margin-left: 655px;
}

.under-elements__message-icon {
    margin-left: 67px;
}


.available-bonuses {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 209px;
    height: 72px;
    border: 2px solid #000;
    border-radius: 18px;
}

.available-bonuses__text {
    border-bottom: 1px solid #000;
    font-weight: 700;
}

.under-elements__text2 {
    font-size: 24px;
    line-height: 23px;
    border-bottom: 2px solid #000;
}

@media (min-width: 992px) and (max-width: 1500px) {
    .under-elements__available-bonuses { margin-left: 100px;}
    .btn-mail {margin-left: 1000px;}
}

/* Main styles end */
