/* Claudius // css */

/* Doesn't work */
/*$font-family-base: 'League Spartan', sans-serif;
@import "~bootstrap/css/bootstrap";*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

/* HTML5 // reset css for browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #E2E2E2;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; margin: 0;}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/* For colours */
:root {

	--font-family-1:Quicksand;
	--font-family-2:Montserrat;
	--font-family-3:Inter;

	/* Main */
	--header-1: #3F0B0F;
	--header-2: #90817C;
	--text-glow: #90817C;
	--text-header-1:#FFF;
	--text-header-2:#000;

	/* Balance */
	--B-changing:#000;
	--B-static: #3F0B0F;

	/* Personal-Info */
	--PI-name:#000;
	--PI-text-static:#74777C;
	--PI-info-block: #FEFAEF;
	--PI-text-changing: #012034;
	/* #3F0B0F */

	/* Courses-Info */
	--CI-name:#000;
	--CI-static:#57595B;
	--CI-text-button:#FFF;
	--CI-main-block-1: #ff9edb;
	--CI-main-block-2: #FDDFA3;
	--CI-changing: #3F0B0F;
	--CI-button: #3F0B0F;
}




/* Main */

/* Main-dop */
.main {
	width: 100%;
	min-width: 1200px;
	height: 100%;
	margin: 0 auto;

	font-family: var(--font-family-2);
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: -0.015em;
}

.main a, p {
	text-decoration: none;
	color: var(--text-header-2);

	font-family: var(--font-family-3);
}

/* Balance */

.Balance {
	margin: 2% 10.5% 0.3% 81%;
	font-size: 22px;

	display: flex;
	justify-content: space-between;
}

.B-static {
	color: var(--B-static);
}

.B-changing {
	margin: 0 0 0 5%;

	color: var(--B-changing);
}

.B-img {
	margin: 0 0 0 2px;
}

/* Main-osn */
.main__osn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

	.main-osn a, div {
		color: var(--PI-text-static);
	}

.logo-info {
	color: var(--text-header-1);
}

/* Personal-Info */
.Personal-Info {
	margin: 1% 3% 0 8%;
	width: 460px;
	height: 485px;

	text-align: center;
}

.PI-photo {
	margin: 15px 1% 30px 27.5%;
	width: 200px;
	height: 200px;

	overflow: hidden;
	border-radius: 50%;
	background: var(--PI-info-block);
	box-shadow: 2px -2px 2px rgba(0,0,0,.2), -2px 2px 2px rgba(0,0,0,.3);
}

.PI-photo-img {
	margin: 0 0 0 0;
	width: 200px;
	height: 200px;
	content: url(../img/photo3.svg);
}

.PI-photo-img-input {
	position: relative;
	top: 44px;

	visibility: hidden;
}

.PI-photo input {
	border: none;
	background: var(--header-2);
	border-radius: 8px;
	text-align: center;
	color: var(--text-header-2);
	font-size: 11px;
	padding: 2px;
}

.PI-photo-img-input.dop {
	visibility: visible;
}

.PI-name-and-edit {
	color: var(--PI-name);

	position: relative;
}

.PI-name-and-edit p {
	color: var(--PI-name);
}

.PI-name-input {
	visibility: hidden;

	position: relative;
	bottom: 60px;
}

.PI-name-input input {
	border: none;
	background: var(--header-2);
	border-radius: 8px;
	text-align: center;
	color: var(--text-header-2);
	font-size: 18px;
	padding: 2px;
}

#PI-name-and-edit, #PI-dop-group-change {
	border-radius: 10px;
	padding: 0 10px;

	width: 430px;

	position: relative;
}

/* Edit */
.PI-edit:hover {
	width: 20px;
	height: 20px;
}

.PI-edit-button {
	border: none;
	background: none;
	cursor: pointer;
}

.PI-edit-button-block {
	top: -15px;
	left: 405px;

	position: relative;
	visibility: visible;
}

.PI-edit-button-block.dop {
	visibility: hidden;
}
/*  */

/* Save */

.PI-save-button {
	top: -54px;
	left: 405px;

	position: relative;
	margin: -27px 0 0 -30px;
	visibility: hidden;

	width: 60px;
	height: 20px;
	font-size: 18px;
	border: var(--header-2) 1px solid;
	background: var(--header-2);
	border-radius: 20px;
	box-shadow: 1px 2px 2px rgba(0,0,0,.2), 2px 2px 3px rgba(0,0,0,.3);
}

.PI-save-button:hover {
	box-shadow: inset 1px 2px 2px 1px rgba(0,0,0,0.5);
}

.PI-save-button.dop {
	visibility: visible;
}
/*  */

.PI-dop {
	margin: -10px 0 10px 0;
	width: 100%;
	height: 181px;
	position: relative;
	bottom: 0;

	text-align: left;

	border-radius: 20px;
	background: var(--PI-info-block);
	box-shadow: 3px -3px 5px rgba(0,0,0,.2), -1px 5px 8px rgba(0,0,0,.3);
}

	.PI-dop p {
		display: inline;
		color: var(--PI-text-changing);
	}

.PI-dop-code {
	padding: 22px 0 0 25px;
}

.PI-dop-group {
	padding: 16px 0 0 25px;
}

.PI-dop-courses-finish {
	padding: 16px 0 0 25px;
}

/* Courses-Info */

/* Blocks for custom scroll bar */
.CI-container { width: 100%; height: 620px; position: relative; }

.CI-viewport { overflow: hidden; position: absolute; left: 19px; right: 9px; top: 7px; bottom: 7px; }
.CI-content-box { height: 620px; position: absolute; left: 0; right: -17px; }
.CI-content-box.noScroll {overflow-y: scroll;}

.CI-content-list { padding: 0 20px 0 5px; -webkit-user-select: none; user-select: none; }

/* Scroll bar */
.scrollbar, .scroller { width: 5px; position: absolute; top: 0; overflow-y: none; background: var(--PI-info-block); }
.scrollbar { right: 0; bottom: 0; visibility: hidden;}
.scroller { left: 0; border-radius: 3px; background: #ccc; cursor: pointer; visibility: hidden; background: var(--CI-main-block-1);}

/* Hacks */
_:-ms-input-placeholder, :root .content-list { padding-left: 20px; }


.Courses__Info {
	margin: 3% 12% 0 1%;
	width: 850px;
	min-width: 600px;
	height: 620px;
}

.CI-my-education {
	display: flex;
	justify-content: space-between;
}

.CI-my-education-text {
	margin: 1px 0 10px 16px;

	color: var(--CI-name);
}

.CI-my-education-img {
	margin-right: -1px; 
	border: none;
	background: none;
	cursor: pointer;

	position: relative;
}

.CI-cours {
	margin: 30px 0 30px 0;

	background: linear-gradient(180deg, rgba(255, 158, 219, 0.5) 0%, rgba(253, 223, 163, 0.5) 100%);;
	border-radius: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;

	font-size: 26px;
}

	.CI-cours p {
		display: inline;
		color: var(--CI-changing);
	}

.CI-cours-name {
	margin: 17px 0 0 22px;

	color: var(--CI-name);
}

.CI-cours-info {
	margin: 5px 0 24px 22px;

	color: var(--CI-static);
}

.CI-cours-button {
	margin: 50px 30px 15px 0;
}

.continue {
	border: none;
	background: none;
	cursor: pointer;

	font-size: 18px;

	width: 170px;
	height: 46px;
	border-radius: 30px;
	background: var(--CI-button);
	color: var(--CI-text-button);

	box-shadow: 3px 5px 5px rgba(0,0,0,.2), 6px 5px 8px rgba(0,0,0,.3);
}

.continue:hover {
	box-shadow: inset 3px 6px 6px 1px rgba(0,0,0,0.5);
}

.CI-cours-stars {
	margin: 65px 37px 1px 0;
}

.CI-cours-stars img{
	content: url(../static/img/afterStar3.svg);
}

.link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color: var(--text-header-1);
	text-decoration: none;

	transition: color .1s linear;
}

	.link:after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		opacity: 0;

		background-color: var(--CI-button);

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;

		transition: opacity .1s linear;
	}

	.link:hover {
		color: var(--CI-button);
	}

	.link:hover:after {
		opacity: 1;
	}


.main-bottom-change {
	margin: 1% 0 0 4%;

	color: var(--text-header-2);
	font-size: 21px;
	letter-spacing: 0.025em;
}

.main-bottom-change-first {
	visibility: hidden;
}

.main-bottom-change-first select {
	border: none;
	background: var(--header-2);
	border-radius: 8px;
	text-align: center;
	color: var(--text-header-2);
	font-size: 18px;
	padding: 2px;
}

.main-bottom-change-first.dop {
	visibility: visible;
}

.main-bottom-change-second {
	visibility: visible;

	color: var(--text-header-2);
}

.main-bottom-change-second.dop {
	visibility: hidden;
}

.dop-content {
	display: none;
	margin: 0.2% 0 0 1%;

	color: var(--CI-button);
}

.main-bottom-change-second:hover ~ .dop-content {
	display: block;
}