/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.container{
	margin: 0px 0px 0px 100px;
}



.phone-img{
	position: absolute;
   top: 10px;
}
.phone-holder{
	display: flex;
	align-items: center;
}
.email-holder{
	display: flex;
	align-items: center;
}
.number{
	padding-left: 6px;
}
.num{
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 12px;
}
.url{
	padding-left: 6px;
}
.url-1{
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 12px;
}
.phone{
   padding-top: 5px;
   padding-right: 37px;
	padding-left: 752px;
}
.email-contact{
	padding-top: 5px;
}


input{
	height: 54px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	font-size: 20px;
	color: #000000;
	border: 2px solid #267AEE;
	border-radius: 20px;
	padding-left: 24px;
}
input:focus {
	border-color:#267AEE;
 }
 
 .show-password input[type="password"] {
	background: #000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
 }

 input {
	border: 1px solid blue;
}
input.error {
	border: 2px solid red;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
}
.error {
	border-color: red;
 }

.form-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 691px;
	margin-top: 155px;

}
.form-title{
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 46px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 51px;
}
.form-field-1{
	margin-bottom: 20px;
}
.form-field-2{
	margin-bottom: 51px;
	position: relative;
}
.show-password-btn {
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	cursor: pointer;
 }
.form-field-3{
	margin-bottom: 20px;
}
.form-field-4{
	margin-bottom: 79px;
	position: relative;
}
.show-password-btn-1 {
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	cursor: pointer;
 }

 
.form{
	background: linear-gradient(180deg, rgba(21, 112, 237, 0.96) 0%, rgba(48, 124, 230, 0.98) 66.15%, rgba(27, 114, 234, 0.41) 100%);
	border-radius: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding-left: 134px;
	padding-right: 132px;
	padding-top: 49px;
	padding-bottom: 180px;
}
.button{
	display: block;
	border: 5px solid #FFFFFF;
	border-radius: 120px;
	background: linear-gradient(180deg, rgba(21, 112, 237, 0.96) 0%, rgba(48, 124, 230, 0.98) 66.15%, rgba(27, 114, 234, 0.41) 100%);
	height: 67px;
	width: 100%;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	cursor: pointer;
}
.button:hover{
	background-color: #021738;
}


