@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
p {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --font-main: 'Montserrat';
    --font-secondary: 'Quicksand';
    font-family: var(--font-main);

    --header-color: #2278EE;
    --main-color:linear-gradient(
    141.69deg,
    #8CC5FF 0%,
    #8CC5FF 67.83%,
    #A7DDFF 100%);
    --secondary-color:#8CC5FF;
    --hover-submit:#A7DDFF;
    --item-color:#8CC5FF;
    --shadow-color:#A7DDFF;
    --selection-color:#A7DDFF;
    font-size:12px;
    font-style: normal;
    font-weight: 400;
}
::selection{
    background-color:var(--selection-color) ;
}



.anchor {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 2.34rem;
    line-height: 97%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.anchor__desc {
    display: inline-block;
    margin-left: 1.5em;
}

.desc {
   
    font-size: .45em;
    line-height: 97%;
    text-align: center;
    color: #FFFFFF;
}

.link {
    font-family: var(--font-secondary);

    line-height: 1.25em;
    text-decoration: none;
    text-align: center;
    color: black;
}
.container {
    max-width: 97%;
    max-height: 87%;
    margin: 10px auto;
}
.table-tests{
    font-size:17px;
}
.table{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table__item{
    flex-basis: 50px;
    display: flex;
    align-content: center;
    justify-content: space-around;
   
}
.item{
    color: black;
}
.item__header{
    flex: 1 0 5%;
    border: 3px solid #e3d3d3;
    
    background-color: var(--item-color);
    box-shadow: 1px 1px 1px 1px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.item__value{
    flex: 1 0 5%;
    border: 3px solid #e3d3d3;
    background-color: var(--item-color);
    box-shadow: 1px 1px 1px 1px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
