.header{
	background: #6495ED;
	position: relative;
}
.title{
	color: white;
}
.call{	
}
.login{
}



.cards { /*для сетки*/
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 100%;
  justify-content: center;
  justify-items: center; 
  column-gap: 50px; /*растояние между карточками*/
  row-gap: 30px; /*растояние между рядами*/
  margin: 70 auto;
}
.card{
	width: 230px; /*ширина карточки*/
	min-height: 300px; /*высота карточки*/
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}
.card_top {
  flex: 0 0 220px;  
  position: relative;
  overflow: hidden; 
}
.card_image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card_image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}
.card_image:hover > img {
  transform: scale(1.1); /*зум изображения*/
}
.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 10px;
}
.card_price {
  font-weight: 400;
  font-size: 20px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
}
.card_trade { /*кнопка*/
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: auto; 
}
.card_title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

