{% extends 'base.html' %}
{% block content %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Claudius</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat+Alternates:wght@600;800&family=Montserrat:wght@400;500;600&family=Quicksand:wght@400;600&display=swap"
            rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../static/ambivert/css/ambivert.css"/>

    <main class="main">
        <section class="personality-type">
            <div class="container">
                <div class="personality-type__content">
                    <h1 class="personality-type__h1">Описание Вашего типа личности</h1>
                    <div class="personality-type__frame">
                        <p class="personality-type__desc">
                            Амбиверты — это люди, тип личности которых находится посередине между интровертами и
                            экстравертами. Они имеют особенности обоих этих типов характера и могут даже
                            приспосабливаться в зависимости от ситуации. Это фактически выглядит так, будто человек
                            одинаково хорошо владеет и левой, и правой рукой, только относится такое сравнение к типам
                            личности. «Амбиверт» — относительно новый термин. Идея о существовании амбивертов впервые
                            всплыла, когда психиатр Карл Юнг представил публике свою концепцию об экстраверсии и
                            интроверсии в 1920-х годах. Он предположил, что также существует и средняя группа, но
                            психологи не использовали термин «амбивертность» вплоть до 1940-х годов. Как показали
                            исследования, между экстраверсией и интроверсией лежит большое многообразие. Люди посреди
                            спектра не являются ни интровертами, ни экстравертами, а представляют собой смесь двух этих
                            типов. Эти люди называются «амбивертами», и одно из исследований показывает, что примерно
                            две трети населения нашей планеты можно считать амбивертами.
                        </p>
                        <div class="personality-type__images">
                            <img src="../static/ambivert/img/Снимок%20веб-страницы_15-5-2023_155530_127.0.0.1.jpeg"
                                 alt="Курсы"/>
                            <img src="../static/ambivert/img/Снимок%20веб-страницы_15-5-2023_15567_127.0.0.1.jpeg"
                                 alt="Личный кабинет"/>

                            <img src="../static/ambivert/img/Снимок%20веб-страницы_15-5-2023_155549_127.0.0.1.jpeg"
                                 alt="Курс"/>
                            <img src="../static/ambivert/img/Снимок%20веб-страницы_15-5-2023_155622_127.0.0.1.jpeg"
                                 alt="Тест к лекции"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
