
<!DOCTYPE html>
<html lang="ru">

 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat+Alternates:wght@600;800&family=Montserrat:wght@400;500;600&family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/reset.css" />
<link rel="stylesheet" href={{ href[4] }} />
  </head>
  <body>
    <header class="header">
      <div class="header__information">
        <span class="header__logo">Claudius</span>
        <span class="header__additional-inf">Бонусная система поощрения</span>
      </div>
      <div class="contact__information">
        <a href="tel:+79995553322" class="header__link number-link">
          <img src="../static/img/phone.png" alt="Phone" class="phone-img" />
          <span class="number">8 999 555 3322</span>
        </a>
        <a href="mail:support@claudius.ru" class="header__link mail-link">
          <img src="../static/img/mail.png" alt="Mail" class="mail-img" />
          <span class="mail">support@claudius.ru</span>
        </a>
        <a href="" class="exit-link">
          <img src="../static/img/exit.png" alt="Exit" class="exit-img" />
        </a>
      </div>

    </header>
{% block content -%}
    <p><h6>Когда-нибудь тут будет главная</h6></p>
{% endblock -%}
</body>
</html>