<!DOCTYPE html>
<html lang="ru">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" id="style_header_h" href={{ href[6] }}>
  </head>
  <body class="page">
    <div class="content">
        <header class="header">
            <div class="header__logo">Claudius</div>
            <div class="header__logomin">Бонусная система поощрения</div>
            <div class="header__contacts">
                <button class="header_phone"></button>
                <p class="header__text header__number">8 999 555 3322</p>
                <button class="header_mail"></button>
                <p class="header__text">support@claudius.ru</p>
            </div>
        </header>
        <div class="header__nav-container">
          <div class="header__nav">
            <button class="button home-button"  id="sidebar-btn"></button>
            {% for i in navig %}
            <button class="button wtf-button"></button>
            <p class="header__nav-text">{{ i }}</p>
            {% endfor %}
          </div>
        {% if session['id_user'] %}
          <div class="header__nav">
              <a href="/exit" class="exit_img"></a>

          </div>
        {% endif %}
        </div>

{% block content -%}

{% endblock -%}
        <link rel="stylesheet" id="style_header_f" href={{ href[6] }}>
        <footer class="footer">
          <div class="footer__nav">
            <img src="../static/img/mospolytech-logo-white.png" alt="" class="footer__logo">
            <ul class="footer__links">
              <li><a class="footer__link">Сайт Московского Политеха</a></li>
              <li><a class="footer__link">Сайт СДО</a></li>
              <li><a class="footer__link">Учащимся</a></li>
              <li><a class="footer__link">Все курсы</a></li>
              <li><a class="footer__link">Правила пользования платформой</a></li>
              <li><a class="footer__link">О нас</a></li>
              <li><a class="footer__link">Помощь</a></li>
              <li><a class="footer__link">Все контакты</a></li>
            </ul>
          </div>
          <div class="footer__about">
            <div class="footer__container">
              <p class="footer__copyhright"> &#169;Cladius, 2023</p>
              <p class="footer__adress">Адрес: г.Москва, ул. Большая Семеновская, д. 30, к. Н.</p>

            </div>
            <div class="footer__contacts">

                  <button class="header_phone"></button>
                <p class="header__text header__number">8 999 555 3322</p>

                <button class="header_mail"></button>
                <p class="header__text">support@claudius.ru</p>
              </div>
          </div>
        </footer>
        <sidebar class="sidebar" id="sidebar" hidden>
          <button id="closeSidebar" class="close_sidebar"></button>
            <button class="sidebar_logo"></button>
          <ul class="sidebar__buttons">
          <li>
              <button class="sidebar__button"><a href="/">Главная</a></button>
            </li>
              {% if session['id_user'] %}
                  <li>
              <button class="sidebar__button"><a href="/profile">Личный кабинет</a></button>
            </li>

              {% else %}
            <li>
              <button class="sidebar__button"><a href="/login">Авторизация</a></button>
            </li>
            {% endif %}
              <li>
              <button class="sidebar__button"><a href="/mag">Обменник</a></button>
            </li>
            <li>
              <button class="sidebar__button"><a href="/courses">Курсы</a></button>
            </li>
            <li>
              <button class="sidebar__button sidebar__button_category" id="progress-btn">Описание типов личностей</button>
            </li>
            <li>
              <button class="sidebar__button sidebar__button_subcategory" id="progress" hidden><a href="/ambivert">Амбиверт</a></button>
            </li>
            <li>
              <button class="sidebar__button sidebar__button_subcategory" id="progress" hidden><a href="/extrovert">Экстраверт</a></button>
            </li>
          <li>
              <button class="sidebar__button sidebar__button_subcategory" id="progress" hidden><a href="/introvert">Интроверт</a></button>
            </li>


          </ul>
        </sidebar>
    </div>
    <script src="../static/js/index.js" >
    </script>
  </body>
</html>