{% extends 'base.html' %}
{% block content %}

    <link rel="stylesheet" href={{ href[8] }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <main class="main">

        <section class="course">
            <div class="wrapper">
                <div class="course__title">
                <img src="../static/img/{{ href[7] }}/compu.png" width="100" height="100">
                <h2 >Профиль курса: {{ course[1] }}</h2>
                </div>
                <div class="course__content">
                    <div class="course__slider">
                        <img src="../static/img/slide-picture.jpg" alt="slide picture" class="course__slider-img">
                    </div>
                    <div class="course__description">
                        <h3 class="course__description-title">{{ course[0] }}</h3>
                        <p class="course__description-txt">{{ course[5] }}</p>
                        <a href="#" class="course__button-start">Начать!</a>
                        <span class="course__scale"></span>
                        <span class="course__score-max">Макс. баллов - 120</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}