{% extends 'base.html' %}
{% block content %}

    <link rel="stylesheet" href={{ href[8] }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <main class="main">

        <section class="course">
            <div class="wrapper">
                <div class="course__title">
                    <img src="../static/img/{{ href[7] }}/compu.png" width="100" height="100"
                         style="margin-right: 25px">
                    <h2>Тематика курса: {{ course[1] }}</h2>
                </div>
                <div class="course__content">
                    <div class="course__slider">
                        <img src="../static/img/slide-picture.jpg" alt="slide picture" class="course__slider-img">
                    </div>
                    <div class="course__description">
                        <h3 class="course__description-title">{{ course[0] }}</h3>
                        <p class="course__description-txt">{{ course[5] }}</p>
                        {% if id_course %}
                            <form method="post">
                                <input type="hidden" id="id_course" value="{{ id_course }}">
                                 {% if course_nach=="Продолжить" %}
                                 <button class="course__button-start_form"><a href="/cours_mas/{{ id_course }}&{{ id_u }}">{{ course_nach }}</a></button>
                                     {% else %}
                                <button class="course__button-start_form">{{ course_nach }}</button>
                                     {% endif %}
                            </form>
                        {% else %}
                            <a href="/login" class="course__button-start">Начать!</a>
                        {% endif %}
                        <div class="gradient-progressbar">
                            <progress value="{{ rez }}" max="100">Выполнено {{ rez }}% работы</progress>
                        </div>
                        <span class="course__score-max">Макс. баллов - 100</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}