{% extends 'base.html' %}
{% block content %}

    <main class="main">
        <!-- <link rel="stylesheet" href={{ href[4] }}> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
      <section class="courses">
        <div class="container">
          <div class="courses__content">
            <h1 class="courses__h1">Курсы доступные для изучения</h1>
            <span class="courses__additional-inf">
              Мы всегда рады вашим успехам.
            </span>

            <form method="post" action="/courses">
                <div class="search">
                <input type="text" id="search__input" name="search__input" placeholder="Поиск по курсу" value=""/>
                <button type="submit" class="serch" id="button"></button>
                <div class="search__span">Всего курсов: {{ count_courses }} </div>
                    </div>
            </form>


            <div class="cards">
                {% for i in courses %}
              <div class="card">
                <img src="../static/img/star.png" alt="Star" class="card__star" />
                <h2 class="card__h2">{{ i[0] }}</h2>
                <h3 class="card__h3">{{ i[1] }}</h3>
                <div class="card__bottom">
                  <div class="bottom__left">
                    <div class="bottom__information">
                      <div class="time">
                        <img
                          src="../static/img/clock.png"
                          alt="Clock"
                          class="time__img"
                        />
                        <span class="time__inf">{{ i[2]*3 }} ч.</span>
                      </div>
                      <div class="views">
                        <img src="../static/img/eye.png" alt="Eye" class="views__img" />
                        <span class="views__inf">{{ i[3] }}</span>
                      </div>
                    </div>
                    <a href="/courses/{{ i[5] }}" class="card__start">Начать</a>
                  </div>
                  <div class="bottom__right">
                    <img src="../static/img/{{ href_svg }}/{{ i[4] }}" alt="img_course" width="130" height="130" />
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
