{% extends 'base.html' %}
{% block content %}

    <main class="main">
        <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
      <section class="navigation">
            <div class="wrapper navigation__panel">
                <nav class="navigation__menu">
                    <ul class="navigation__menu-container">
                        <li class="menu__link-container"><a href="/" class="menu__link-icon"><img src="../static/img/Home-icon.svg" alt="home icon" class="menu__link-img"></a></li>
                        <img src="../static/img/arrow-right.svg" alt="Arrow rigth" />
                        <li class="menu__link-container"><a href="/courses" class="menu__link">Курсы</a></li>
                    </ul>
                </nav>
                <a href="#" class="navigation__reminder-link">Напоминание</a>
            </div>
        </section>
      <section class="courses">
        <div class="container">
          <div class="courses__content">
            <h1 class="courses__h1">Все курсы представлены здесь</h1>
            <span class="courses__additional-inf">
              Мы всегда рады вашим успехам.
            </span>
            <div class="search">
              <label for="search__input">
                <input
                  type="search"
                  id="search__input"
                  placeholder="Поиск по курсу"
                />
              </label>
              <img src="../static/img/search.png" alt="Search" class="search__img" />
              <div class="search__span">Всего курсов: {{ count_courses }} </div>
            </div>

            <div class="cards">
                {% for i in courses %}
              <div class="card">
                <img src="../static/img/star.png" alt="Star" class="card__star" />
                <h2 class="card__h2">{{ i[0] }}</h2>
                <h3 class="card__h3">{{ i[1] }}</h3>
                <div class="card__bottom">
                  <div class="bottom__left">
                    <div class="bottom__information">
                      <div class="time">
                        <img
                          src="../static/img/clock.png"
                          alt="Clock"
                          class="time__img"
                        />
                        <span class="time__inf">{{ i[2]*3 }} ч.</span>
                      </div>
                      <div class="views">
                        <img src="../static/img/eye.png" alt="Eye" class="views__img" />
                        <span class="views__inf">{{ i[3] }}</span>
                      </div>
                    </div>
                    <a href="/courses/{{ i[5] }}" class="card__start">начать</a>
                  </div>
                  <div class="bottom__right">
                    <img src="../static/img/{{ i[4] }}" alt="img_course" />
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
