{% extends 'base.html' %}
{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="{{href[10]}}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">

<body>
<main>
    <section class="statistics">
        <div class="statistics__wrapper">
            <h1 class="statistics__title">{{ name_cours }}</h1>
            <div class="gradient-progressbar">
                            <progress value="{{ progress }}" max="100">Выполнено {{ progress }}% работы</progress>

                        </div>
                    <p class="progress-bar__value">Выполнено {{ progress }}% работы</p>
                    
            <div class="statistics__course-results">
                <ul class="course-results__list">
                    {% for i in mas_inf %}
                    <li class="course-results__item">
                        <p class="item__name"><a href="../static/dok/{{ i[2] }}">{{ i[1] }}</a></p>
                        {% if i[3]==0 %}
                        <p class="item__result"><a href="/tasks/{{ i[0] }}">{{ i[3] }}/{{ i[4] }} баллов</a></p>
                        {% else %}
                        <p class="item__result"><a href="/rez_tasks//{{ i[0] }}&{{ i_u }}">{{ i[3] }}/{{ i[4] }} баллов</a></p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </section>
</main>
<footer></footer>
</body>
{% endblock %}