<html>
<head>
    <title>{{ name }}</title>
</head>
<body>
<form action="{{ url_for('down') }}" method="post" enctype="multipart/form-data">
    <div><input type="text" class="question" placeholder="Название задачи"><br> <input type="text" class="answer"
                                                                                       placeholder="Неправильный ответ "><br>
        <input type="text" class="answer" placeholder="Правильный ответ"><br> <input type="text" class="answer"
                                                                                     placeholder="Неправильный ответ "><br>
        <div class="answer"><label class="input-file"> <input type="file" name="file" onchange="alert(1111)"> <span>Выберите файл задачи</span>
        </label><br></div>
    </div>


</form>
<h1 id="time">Итог -
    <div id="min"></div>
</h1>

<button id="sad">next</button>
</body>
</html>
<script>
    document.querySelector("#sad").addEventListener("click", Handler);

    function Handler(event) {
        fetch('/down', {method: 'POST', body: ""})
            .then((response) => {
                return response.json();
            })
            .then((myjson) => {
                alert(myjson);
            });
    }
</script>