<html>
<head>
    <title>{{ name }}</title>
</head>
<body>
<form action="{{ url_for('down') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="imges"/>
    <input type="submit" value="Upload">
    <input type="hidden" id="mas_test" value="{{ mas_test_lich }}">

</form>
<h1 id="time">Итог -
    <div id="min"></div>
</h1>

<button id="sad">next</button>
</body>
</html>
<script>
    document.querySelector("#sad").addEventListener("click", Handler);

    function Handler(event) {
        fetch('/down', {method: 'POST', body:""})
            .then((response) => {
                return response.json();
            })
            .then((myjson) => {
                alert(myjson);
            });
    }
</script>