{% extends 'base.html' %}
{% block content %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Claudius</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat+Alternates:wght@600;800&family=Montserrat:wght@400;500;600&family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../static/extrovert/css/extrovert.css" />
    <main class="main">
      <section class="personality-type">
        <div class="container">
          <div class="personality-type__content">
            <h1 class="personality-type__h1">Описание Вашего типа личности</h1>
            <div class="personality-type__frame">
              <p class="personality-type__desc">
                Согласно теории Айзенка, экстраверт – это человек, который
                получает энергию от контактов с другими людьми и от ярких
                эмоций, направленных на внешние объекты/субъекты. Поэтому
                экстраверты любят все делать в компании: если работать над
                проектом по работе или учебе – то непременно в составе группы,
                смотреть фильм или идти по магазинам – то вместе с друзьями. А
                еще лучше не смотреть фильм, а пойти туда, где можно получить
                эмоции: экстраверты любят различные активности. В общении
                экстраверты делают ставку скорее на количество, чем на качество.
                Если интроверты предпочитают малое количество преданных,
                надежных друзей (при этом и сам интроверт будет надежным
                другом), то у экстраверта подход другойЭкстраверт - кто это –
                друзей должно быть много, хотя контакт с ними может быть
                достаточно поверхностным. По характеру и мужчины, и женщины
                экстраверты приветливы, открыты, радушны, легко завязывают
                знакомства, поддерживают общение даже с незнакомыми людьми. Они
                легко придут вам на помощь (или пообещают ее), даже если вам это
                не было нужно. У них выразительная мимика, открытые, широкие
                жесты, они любят смотреть прямо на собеседника, когда говорят с
                ним. Все эти детали визуально помогут определить экстраверта.
                Экстраверты без проблем вливаются в новый коллектив,
                подстраиваются под ту компанию, в которой оказались. Своим
                поведением и манерой общаться привлекают к себе других людей –
                что для них только хорошо, потому что общение и совместная
                деятельность для экстраверта означает подзарядку их внутренних
                энергетических батарей (кстати, некоторые подзаряжаются не
                только от положительных эмоций от общения, но и отрицательных –
                скандалов, разборок и пр.). Такие люди легко поддаются влиянию
                других, иногда даже в большей степени, чем следовало бы.
              </p>
              <div class="personality-type__images">
                <img src="../static/extrovert/img/Снимок%20веб-страницы_15-5-2023_155822_127.0.0.1.jpeg" alt="Личный кабинет" />
                <img src="../static/extrovert/img/Снимок%20веб-страницы_15-5-2023_155837_127.0.0.1.jpeg" alt="Курсы" />
                <img src="../static/extrovert/img/Снимок%20веб-страницы_15-5-2023_155847_127.0.0.1.jpeg" alt="Курс" />
                <img src="../static/extrovert/img/Снимок%20веб-страницы_15-5-2023_155858_127.0.0.1.jpeg" alt="Тест к лекции" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}