{% extends 'base.html' %} {% block content %}
<main>
    <link rel="stylesheet" href="{{ href[3] }}" />
    <link rel="stylesheet" href="{{ href[2] }}" />
    <section class="auth">
        <div class="auth__right-section right-section">
            <form method="post">
                <div class="form">
                    <h2 class="form__title title">Восстановление пароля</h2>

                    {% if error_text is defined %}

                    <div
                        style="
                            border: 5px solid palevioletred;
                            border-radius: 5px;
                            font-size: 25px;
                            margin-bottom: 15px;
                            background-color: palevioletred;
                        "
                    >
                        {{error_text}}
                    </div>
                    {% else %}
                    <div
                        style="
                            border-radius: 5px;
                            font-size: 25px;
                            margin-bottom: 15px;
                            width: 650px;
                        "
                    >
                        {% if password_not_reset is defined %}
                        Забыли пароль
                        своей учетной записи? Введите свой адрес электронной
                        почты, и мы вышлем вам ссылку для восстановления.
                        {% else %} Инструкция по ввостановлению была отправлена вам
                        на почту. Если письмо не пришло, проверьте папку "Спам".
                        {% endif %}
                    </div>
                    {% endif %}


                    {% if password_not_reset is defined %}
                    <div class="form__btns btns">
                        <label class="visuallyhidden" for="email">Login</label>
                        <input
                            class="btns__login login"
                            name="email"
                            id="email"
                            type="email"
                            placeholder="E-mail почта"
                        />

                        <input
                            type="hidden"
                            name="CSRFToken"
                            value="{{ csrf_token }}"
                        />

                        <input
                            type="submit"
                            class="form__submit-btn submit-btn"
                            value="Выслать"
                        />
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
