{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/icons.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<main>
    <div class="wrapper montserrat">
        <h2>Полученные достижения:</h2>
        <div class="another_icons">

            {% for i in i_u %}
            <div class="card_icon">
                <img src="../static/img/icons/{{svg_icons}}{{href_svg}}_{{i[0]}}.svg">
                <div class="card_icon_text">
                    <p class="icon_title">{{i[1]}}</p>
                    {% if i[2] %}
                        <p class="icon_lvl">Уровень: {{i[2]}}</p>
                    {% else %}
                    <br>
                    {% endif %}
                    <p class="icon_describtion">{{i[3]}}</p>
                </div>
            </div>
            {% endfor %}

        </div>

        <h2>Другие достижения:</h2>
        <div class="another_icons">

            {% for i in icons %}
            <div class="card_icon">
                <img src="../static/img/icons/{{href_svg}}_{{i[0]}}.svg">
                <div class="card_icon_text">
                    <p class="icon_title">{{i[1]}}</p>
                    {% if i[2] %}
                        <p class="icon_lvl">Уровень: {{i[2]}}</p>
                    {% else %}
                    <br>
                    {% endif %}
                    <p class="icon_describtion">{{i[3]}}</p>
                </div>            
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}