{% extends 'base.html' %}
{% block content %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Claudius</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat+Alternates:wght@600;800&family=Montserrat:wght@400;500;600&family=Quicksand:wght@400;600&display=swap"
            rel="stylesheet"
    />

    <!-- CSS -->

    <main class="main">
        <section class="personality-type">
                <div class="personality-type__container">
                    <h1 class="personality-type__h1">Описание Вашего типа личности</h1>
                    <div class="personality-type__frame">
                        <p class="personality-type__desc">
                            Интроверт — это человек, сконцентрированный на своём внутреннем мире. Он не любит скоплений
                            людей, предпочитает тишину и спокойную обстановку. В одиночестве интроверт восстанавливает
                            энергию, а при общении с людьми расходует её. Таков собирательный образ интроверта, хотя
                            однозначной трактовки термина «интроверт» нет: ученые разных школ по-разному его трактуют.
                            В работе «Психологические типы» Карл Юнг подробно разобрал, как до него ученые пытались
                            определить разницу между общительными тусовщиками и стеснительными домоседами. А затем
                            предложил свою интерпретацию. По его мнению, разница между ними — в направлении жизненной
                            энергии, либидо. У интровертов эта энергия направлена внутрь, а у экстравертов — наружу. То
                            есть внимание экстравертов направлено на окружающий мир и других людей, а интроверты,
                            напротив, погружены в себя, свои фантазии и самоанализ. После Юнга за исследование
                            экстраверсии и интроверсии взялся Ганс Айзенк. По его мнению, у интроверсии есть несколько
                            устойчивых признаков: настойчивость, ригидность, субъективизм, скромность,
                            раздражительность. Интроверты — стеснительные, интроспективные, холодные люди. Они любят
                            порядок, не следуют внезапным побуждениям и на них можно положиться. Айзенк считал параметр
                            экстраверсии/интроверсии одним из важнейших измерений личности, наравне с нейротизмом и
                            психотизмом. Выводя свою трехфакторную теорию личности, Айзенк положил эти три измерения в
                            основу. В 1970-е на основе типов, выделенных Юнгом, советско-литовская исследовательница
                            Аушра Аугустинавичюте создала свою типологию личности — соционику. По ней люди делятся на 16
                            типов по 4 параметрам. Один из таких параметров — шкала интроверсии-экстраверсии. Похожее
                            разделение есть и в системе Майерс-Бриггс. При этом и соционика, и система Майерс-Бриггс
                            имеют черты лженауки.
                        </p>
                        <div class="personality-type__images">
                            <img src="../static/introvert/img/Снимок%20веб-страницы_15-5-2023_155413_127.0.0.1.jpeg"
                                 alt="Тест к лекции"/>
                            <img src="../static/introvert/img/test.jpeg" alt="Курс"/>
                            <img src="../static/introvert/img/presonal-area.jpeg" alt="Личный кабинет"/>
                            <img src="../static/introvert/img/courses.jpeg" alt="Курсы"/>

                        </div>
                    </div>
                </div>
        </section>
    </main>
{% endblock %}
