{% extends 'base.html' %}
{% block content %}


<link rel="stylesheet" href={{href[13]}}>

    <main>

        <h1 class="visuallyhidden"></h1>
        <section class="lboard">
            <div class="lboard__wrapper">
                <h2 class="lboard__name"> Таблица лидеров:</h2>
                    <ul class="lboard__list">
                        <li class="lboard__item">
                            <h2 class="lboard__title">Лидеры за всё время:</h2>
                            {% for i in board %}
                            <div class="lboard__people">
                                <img class="lboard__rectangle"> </img>
                                <span class="lboard__text">{{i[0]}} {{i[1]}}</span>
                                <span class="lboard__points">{{i[3]}}</span>
                            </div>

                            <p class="lboard__underline"> </p>
                            {% endfor %}

                        </li>

                        <li class="lboard__item">
                            <h2 class="lboard__title">Лидеры за месяц:</h2>
                            {% for i in board %}
                            <div class="lboard__people">
                                <img class="lboard__rectangle"> </img>
                                <span class="lboard__text">{{i[0]}} {{i[1]}}</span>
                                <span class="lboard__points">{{i[3]}}</span>
                            </div>

                            <p class="lboard__underline"> </p>
                            {% endfor %}

                        </li>

                    </ul>

            </div>

        </section>

    </main>
{% endblock %}