{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ href[3]}}>
        <link rel="stylesheet" href={{ href[0]}}>

</div>
    <main>
        <h1 class="visuallyhidden">Project Claudius</h1>
        <section class="bonuses">
            <div class="bonuses__wrapper">
                <ul class="bonuses__list">
                    {% for c in coup %}
                    <li class="bonuses__item">
                        <h2 class="bonuses__title">{{ c[1] }} за {{ c[4] }}</h2>
                        <p class="bonuses__text">{{ c[2] }} </p>
                        <form method="post">
                    <input hidden type="text" name="id_coup" value="{{ c[0] }}">
                    <button class="bonuses__button btn">Обменять</button>
                    </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}