{% extends 'base.html' %}
{% block content %}
<div class="cards">
            {% for c in coup %}
            <div class="card">
                <div class="card_top">
                    <img src="../static/img/img.png" height="173px" width="250px" alt="">
                </div>
                <form method="post">
                    <div class="card_botom">
                    <p class="card_title">{{ c[1] }}</p>
                    <h3 class="card_title">{{ c[2] }}</h3>

                    <p class="card_price" name="coin">{{ c[4] }}</p>
                    <input hidden type="text" name="id_coup" value="{{ c[0] }}">
                    <input type="submit" class="card_trade" value="Обменять пряники">
                        </div>
                </form>
            </div>
            {% endfor %}
</div>
{% endblock %}