{% extends 'base.html' %}
{% block content %}




		<main class="main">
        <link rel="stylesheet" href="{{ href[5] }}" />
        <div class="questions_wrapper">
				<p class="test-name">Тест на определение типа личности</p>
				<p class="test-descr">Кто я  - экстраверт, интроверт или амбиверт?</p>

				<div class="osn-inf">
                    {% if count_tasks!=0 %}
					<p class="questions-left">{{ now_task }}/{{ count_tasks }}</p>
                 {% endif %}
					<p class="question">{{ task[0] }}</p>

					<div class="answer">
						<ul class="answer_list">
                            {% for i in task %}
                            {% if i!=task[0] %}
                                {% if i==rez_task %}
							        <li><label><input type="radio" name="radio" id="{{ i }}" value="{{ i }}" checked><p class="radio-item-1">{{i}}</p></label></li>
                                {% else %}
                                    <li><label><input type="radio" name="radio" id="{{ i }}" value="{{ i }}"><p class="radio-item-1">{{i}}</p></label></li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
					</div>

					<div class="another-question">
                    {% if now_task>1 %}
                        <form class="first" method="post">
                            <input type="hidden" id="radio_back" name="radio">
                            <input type="hidden" id="hid_back" name="back">
						<ul class="arrow">
							<li id="back_but"><button class="another-question-left-img"  ><img src="../static/img/arrows-right.svg" style="transform: scale(1, -1);"></button></li>
							<li><p class="another-question-left">Перейти к предыдущему вопросу</p></li>
						</ul>
                            </form>
                        {% endif %}
                    {% if now_task==count_tasks %}
                        <form class="third" method="post">
                        <input type="hidden" id="radio_finish" name="radio">
                        <input type="hidden" id="hid_finish" name="finish">
						<div id="finish_but" ><input type="submit"  class="another-question-center" value="закончить тест"></div>
                          </form>
                    {% endif %}
                        {% if now_task<count_tasks %}
                         <form class="second" method="post">
                             <input type="hidden" id="radio_next" name="radio">
                             <input type="hidden" id="hid_next" name="next">
                        <ul class="arrow">
							<li id="next_but"><button class="another-question-right-img"  ><img src="../static/img/arrows-right.svg"></button></li>
							<li><p class="another-question-right">Перейти к следующему вопросу</p></li>
						</ul>
                              </form>
                        {% endif %}

					</div>
				</div>

				<div class="main-bottom-change">
					<div class="main-bottom-change-first">
						<select class="emotional-condition" id="emotional-condition" name="emotional_condition">
							<option value="Интроверт">Интроверт</option>
							<option value="Амбиверт">Амбиверт</option>
							<option value="Экстраверт">Экстраверт</option>
						</select>
					</div>
				</div>
        </div>
		</main>

<script>
    document.getElementById('radio_back').value=""
    document.getElementById('radio_next').value=""
    document.getElementById('radio_finish').value=""
    document.querySelector("#back_but").addEventListener("click", radio_back);
    document.querySelector("#next_but").addEventListener("click", radio_next);
    document.querySelector("#finish_but").addEventListener("click", radio_finish);
    function radio_back(event){
        document.getElementById('radio_back').value=document.querySelector('input[name="radio"]:checked').value
    }
    function radio_next(event){
        document.getElementById('radio_next').value=document.querySelector('input[name="radio"]:checked').value
    }
    function radio_finish(event){
        document.getElementById('radio_finish').value=document.querySelector('input[name="radio"]:checked').value
    }
</script>
{% endblock %}