{% extends 'base.html' %}
{% block content %}
        <link rel="stylesheet" href={{ href[1]}}>

  <main class="main-osn">
            <div class="main-1">
                <div class="my_profile">Мой профиль</div>
                <div class="my_profile"><a href="/exit">Выход из профиля</a></div>
                <div class="my_education">Моё обучение:</div>

                <div class="first-ed">
                    <div class="stars"><img src="../static/img/Vector8.png" alt=""> <img src="../static/img/Vector8.png" alt=""> <img src="../static/img/Vector8.png" alt=""> <img src="../static/img/Vector8.png" alt=""> <img src="../static/img/Vector8.png" alt=""></div>
                    <div class="h__first-ed">
                        <div>Основы программирования на Python
                            <div class="rect1"><img src="../static/img/Rectangle1.png" alt=""></div>
                            <div class="rect1-dop"><img src="../static/img/Rectangle1-dop.png" alt=""></div>
                            <div class="dop-info">
                                5% материала пройдено<br>
                                2/40 баллов получено
                            </div>
                            <div class="for-button"><button class="first-ed-button-continue">Продолжить</button></div>
                        </div>
                        <div class="Python"><img src="../static/img/Python.png" alt=""></div>
                    </div>

                    <div class="like first-ed-button-like"><img src="../static/img/Vector9.png" alt=""></div>
                </div>

                <div class="second-ed">
                    <div class="stars"><img src="../static/img/Vector8.png" alt=""> <img src="../static/img/Vector8.png" alt=""></div>
                    <div class="h__first-ed">
                        <div>Основы программирования Java Script
                            <div class="rect1"><img src="../static/img/Rectangle1.png" alt=""></div>
                            <div class="rect1-dop"><img src="../static/img/Rectangle2-dop.png" alt=""></div>
                            <div class="dop-info">
                                85% материала пройдено<br>
                                33/40 баллов получено
                            </div>
                            <div class="for-button"><button class="first-ed-button-continue">Продолжить</button></div>
                        </div>
                        <div class="Python"><img src="../static/img/js.png" alt=""></div>
                    </div>

                    <div class="like first-ed-button-like"><img src="../static/img/Vector9.png" alt=""></div>
                </div>
            </div>

            <div class="main-2">
                <div class="main-2-1">
                    <div class="photo-main">
                        <div class="photo"><img src="../static/img/img.png" alt=""></div>
                        <div class="icon-photo"><a href="#"><img src="../static/img/Vector6.png" alt=""></a></div>
                    </div>

                    <div class="info-ul">
                        <ul>
                            <li class="name">{{user[0][1]+' '+user[0][2]+' '+user[0][3]}}</li>
                            <li>Статус: {{ user[0][7] }}</li>
                            <li>Типа личности: {{ user[0][8] }}</li>
                            <li>Пряники: {{ user[0][9] }}</li>
                            <li>Ваш статус <div class="smile"><img src="../static/img/tilt.png" alt=""></div></li>
                        </ul>
                    </div>

                    <div class="edit pos-info"><a href="#"> <img src="../static/img/Vector7.png" alt=""> Редактировать</a></div>
                </div>

                <div class="main-2-2">
                    <div class="emotional">
                        <div class="emo">
                            <ul>
                                <li><img src="../static/img/tilt2.png" alt=""></li>
                                <li><img src="../static/img/norm.png" alt=""></li>
                                <li><img src="../static/img/glad.png" alt=""></li>
                            </ul>
                        </div>
                        <div class="emotional-dop">
                            <ul>
                                <li><img src="../static/img/Vector10.png" alt=""> 0 дней без перерыва</li>
                                <li><img src="../static/img/Vector10.png" alt=""> 7 дней без перерыва</li>
                                <li><img src="../static/img/Vector10.png" alt=""> 14 дней без перерыва</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="main-2-3">
                    <div>АКТИВНОСТЬ ЗА ПОСЛЕДНИЕ 7 ДНЕЙ</div>
                    <div class="stat">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ПН</th>
                                        <th>ВТ</th>
                                        <th>СР</th>
                                        <th>ЧТ</th>
                                        <th>ПТ</th>
                                        <th>СБ</th>
                                        <th>ВС</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>4</td>
                                        <td>6</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>5</td>
                                        <td>11</td>
                                        <td>16</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="stat-data">{{"В БД такого нет"}}</div>
                    </div>
                </div>
            </div>
        </main>

        <main class="main-dop">
            <div>
                <div class="now">Прохожу сейчас:</div>
                <div class="now-dop">
                    <div class="border"></div>

                    <div class="now-content">{{"В БД такого нет"}}<img src="../static/img/Vector11.png" alt=""> 6/100</div>
                </div>
            </div>
        </main>
    </body>
</html>
{% endblock %}