{% extends 'base.html' %}
{% block content %}

		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Заголовок страницы в браузере -->
		<title>{{ title }}</title>
		<!-- Bootstrap CSS (jsDelivr CDN) -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">
		<!-- CSS -->
		<link rel="stylesheet" href={{ href[1] }} />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src="../static/js/account.scroll.button.js"></script>
		<script src="../static/js/account.edit.and.save.button.js"></script>
		<!-- <script src="js/account.emotional_condition.button.js"></script> -->

	<body>

		<main class="main">

			<div class="Balance">
				<div class="B-static">Баланс:</div>
				<div class="B-changing">{{ user[9] }}</div>
				<div class="B-img"><img src="../static/img/gingerbread.svg" alt="">
                </div>
			</div>

			<form method="post" id="form_1" onsubmit="submitForm()">
                <input type="hidden" name="nick" id="fio">
				<div class="main__osn">
					<div class="Personal-Info">
						<div class="PI-photo"><img src="../static/img/photo1.svg" name="photo" class="PI-photo-img" id="PI-photo-img" alt=""></div>
						<div><div class="PI-name-and-edit"><p id="PI-name-and-edit">{{ user[2]+" "+user[1]+" "+user[3] }}</p></div><div class="PI-name-input"><input type="text" maxlength="50" minlength="4" required placeholder="ФИО через пробел" value="" id="PI-name-input"></div></div>

						<div class="PI-dop">
							<div class="PI-dop-code">Код&nbspстудента&nbsp&nbsp<p>2022-1234</p></div>
							<div class="PI-dop-group">Всего&nbspвыбрано&nbspкурсов&nbsp&nbsp<p>{{ passed_false }}</p></div>
							<div class="PI-dop-courses-finish">Пройдено&nbspкурсов&nbsp&nbsp<p>{{ passed_true }}</p></div>

							<div class="PI-edit-button-block"><button onClick="edit()" class="PI-edit-button"><img src="../static/img/edit.svg" class="PI-edit"></button></div>

								<input type="submit" class="PI-save-button" value="Save">
						</div>
					</div>

					<div class="Courses__Info">

						<div class="CI-my-education">
							<div class="CI-my-education-text">Моё обучение</div>
							<div><button onClick="rotateImg()" class="CI-my-education-img button__scroll"><img id="imgScrollBar" src="../static/img/choice.svg" /></button></div>
						</div>

						<div class="CI-container">
							<div class="CI-viewport">
								<div class="CI-content-box" id="content__box">
									<div class="CI-content-list">
                                    {% if courses!=0 %}
                                        {% for i in courses %}
										<div class="CI-cours">
											<div>
												<div class="CI-cours-name">{{ i[2] }}</div>
												<div class="CI-cours-info"><p>{{ i[1] }}%</p> материала пройдено</div>
											</div>
                                            {% if i[1]<100 %}
											<div class="CI-cours-button"><button class="continue"><a style="color: #fff" href="/courses/{{ i[0] }}">Продолжить</a></button></div>
										    {% endif %}
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                         <div style="margin-left: 220px; margin-top: 50px">Ни одного курса не выбрано</div>
                                    {% endif %}

									</div>

									<script src="../static/js/account.customScrollBar.js"></script>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="main-bottom-change">
					<div class="main-bottom-change-first">
						<select class="emotional-condition" id="emotional-condition" name="emotional_condition">
							<option value="Интроверт">Интроверт</option>
							<option value="Амбиверт">Амбиверт</option>
							<option value="Экстраверт">Экстраверт</option>
						</select>
					</div>
					<div class="main-bottom-change-second link" id="main-bottom-change-second">Интроверт</div>
					<div class="dop-content" id="dop-content">Information about your emotional condition.</div>
				</div>
			</form>
		</main>
	</body>
{% endblock %}