{% extends 'base.html' %} {% block content %}
<main>
    <br>
<br>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" id="reset" href="{{ href[3] }}">
    <link rel="stylesheet" id="style" href="{{ href[2] }}">
  <section class="auth">
    <div class="auth__container container">
      <div class="auth__left-section left-section">
        <h2 class="auth__title">Добро пожаловать!</h2>
        <p class="auth__text">
          Если вы уже зарегистрированы, войдите в свою учетную запись
        </p>
        <a class="auth__button" href="/login">Авторизация</a>
      </div>
      <div class="auth__right-section right-section">
        <form method="post">
          <div class="form">
            <h2 class="form__title title">Зарегистрируйтесь</h2>
            {% if error_text is defined %}
            <div
              style="
                border: 5px solid palevioletred;
                border-radius: 5px;
                font-size: 25px;
                margin-bottom: 15px;
                background-color: palevioletred;
              "
            >
              {{error_text}}
            </div>
            {% endif %}
            <div class="form__btns btns">
                <label class="visuallyhidden" for="login">Login</label>
              <input
                class="btns__login login"
                name="login"
                id="login"
                type="text"
                placeholder="Логин | E-mail почта"
              />

                <label class="visuallyhidden" for="password">password</label>
              <div class="form-field-2">
                <input
                  class="btns__password password"
                  name="password"
                  id="password"
                  type="text"
                  placeholder="Введите пароль"
                  required
                  onfocus="clearPlaceholder1(this)"
                  onblur="addPlaceholder1(this, 'Введите пароль')"
                />
                <div
                  class="show-password-btn"
                  id="password-toggle"
                  onclick="togglePassword()"
                >
                  <img src="../static/img/eye_logo.png" alt="" />
                </div>
              </div>
                <label class="visuallyhidden" for="name">Имя</label>
              <input
                class="btns__login login"
                name="name"
                id="name"
                type="text"
                placeholder="Имя"
              />
              <label class="visuallyhidden" for="surname">Фамилия</label>
              <input
                class="btns__login login"
                name="surname"
                id="surname"
                type="text"
                placeholder="Фамилия"
              />
              <label class="visuallyhidden" for="fatherland">Отчество</label>
              <input
                class="btns__login login"
                name="fatherland"
                id="fatherland"
                type="text"
                placeholder="Отчество"
              />
              <label class="visuallyhidden" for="s">Тип личности</label>
              <select
                name="s"
                class="btns__login login"
                onchange="myNewFunction(this)"
              >
                <option name="s_var1" class="btns__login login">
                  Интроверт
                </option>
                <option name="s_var2" class="btns__login login">
                  Экстраверт
                </option>
                <option name="s_var3" class="btns__login login">
                  Амбиверт
                </option>
              </select>
              <label class="visuallyhidden" for="pos">Статус</label>
              <select name="pos" class="btns__login login">
                <option name="pos_var1" class="btns__login login">
                  Обучающийся
                </option>
                <option name="pos_var2" class="btns__login login">
                  Преподаватель
                </option></select
              ><br />


                <div>
                <input type="checkbox" name="sogl" style="width: 25px; height: 25px" /><a
                  href="../static/dok/sogl.pdf" class="soql"
                  >Согласен с пользовательским соглашение</a
                >
              </div>
              <input type="hidden" name="CSRFToken" value="{{ csrf_token }}" />
              <input
                type="submit"
                class="form__submit-btn submit-btn"
                value="Зарегистрироваться"
                disabled="true"
              />
            </div>
          </div>
        </form>
      <br>
      </div>
    </div>
  </section>
<br>
</main>
{% endblock %}
