<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Заголовок страницы в браузере -->
		<title>{{ title }}</title>
		<!-- Bootstrap CSS (jsDelivr CDN) -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">
		<!-- CSS -->
		<link rel="stylesheet" href="{{ href[5] }}" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src="js/change.js"></script>
	</head>

	<body>
		<header class="header">
			<div class="header-1">
				<div class="logo text-glow"><a href="#">Claudius</a></div>
				<div class="logo-info">Бонусная система поощрения</div>

				<div class="courses text-glow"><a href="#">Курсы</a></div><div class="span"><span>|</span></div>
				<div class="lk-up text-glow"><a href="#">Личный кабинет</a></div><div class="span"><span>|</span></div>
				<div class="reg text-glow"><a href="#">Регистрация</a></div>
				<div class="phone-img"><img src="../static/img/phone.svg" alt=""></div>
				<div class="phone"><a href="#">+7&nbsp999&nbsp555&nbsp3322</a></div>
				<div class="email-img"><img src="../static/img/email.svg" alt=""></div>
				<div class="email"><a href="#">support@claudius.ru</a></div>
				<div class="exit-img"><a href="#"><img src="../static/img/exit.svg" alt=""></a></div>
			</div>
		</header>

		<div class="header">
			<div class="header-2">
				<div class="app-img"><img src="../static/img/apps.svg" alt=""></div>
				<div class="choice-img"><img src="../static/img/choice.svg" alt=""></div>
				<div class="lk-bottom"><a href="#">Личный кабинет</a></div>

				<div class="notifications-img"><img src="../static/img/notifications.svg" alt=""></div>
				<div class="notifications"><a href="#">Напоминания</a></div>
			</div>
		</div>

		<main class="main">
				<p class="test-name">Тест к лекции - {{ lecture }}</p>

				<div class="osn-inf">
                    {% if count_tasks!=0 %}
					<p class="questions-left">{{ now_task }}/{{ count_tasks }}</p>
                 {% endif %}
					<p class="question">{{ task[1] }}:</p>

					<div class="answer">
						<ul>
                            {% for i in task[2] %}
                                {% if i[0]==rez_task %}
							        <li><label><input type="radio" name="radio" id="{{ task[0] }}" value="{{ i[0] }}" checked><p class="radio-item-1">{{i[1]}}</p></label></li><br>
                                {% else %}
                                    <li><label><input type="radio" name="radio" id="{{ task[0] }}" value="{{ i[0] }}"><p class="radio-item-1">{{i[1]}}</p></label></li><br>
                                {% endif %}
                            {% endfor %}
                        </ul>
					</div>

					<div class="another-question">
                    {% if now_task>1 %}
                        <form class="first" method="post">
                            <input type="hidden" id="radio_back" name="radio" value="0" >
                            <input type="hidden" id="hid_back" name="back">
						<ul>
							<li onclick="radio_back()"><button class="another-question-left-img"  ><img src="../static/img/arrows-right.svg" style="transform: scale(1, -1);"></button></li>
							<li><p class="another-question-left">Перейти к предыдущему вопросу</p></li>
						</ul>
                            </form>
                        {% endif %}
                    {% if now_task==count_tasks %}
                        <form class="third" method="post">
                        <input type="hidden" id="radio_finish" name="radio" value="0">
                        <input type="hidden" id="hid_finish" name="finish">
						<div onclick="radio_finish()" ><input type="submit"  class="another-question-center" value="закончить тест"></div>
                          </form>
                    {% endif %}
                        {% if now_task<count_tasks %}
                         <form class="second" method="post">
                             <input type="hidden" id="radio_next" name="radio" value="0">
                             <input type="hidden" id="hid_next" name="next">
						<ul>
							<li  onclick="radio_next()"><button class="another-question-right-img"  ><img src="../static/img/arrows-right.svg"></button></li>
							<li><p class="another-question-right">Перейти к следующему вопросу</p></li>
						</ul>
                              </form>
                        {% endif %}

					</div>
				</div>

				<div class="main-bottom-change">
					<div class="main-bottom-change-first">
						<select class="emotional-condition" id="emotional-condition" name="emotional_condition">
							<option value="Интроверт">Интроверт</option>
							<option value="Амбиверт">Амбиверт</option>
							<option value="Экстраверт">Экстраверт</option>
						</select>
					</div>
				</div>
		</main>

	</body>

</html>
<script>
    function radio_back(event){
        document.getElementById('radio_back').value=document.querySelector('input[name="radio"]:checked').value
    }
    function radio_next(event){
        document.getElementById('radio_next').value=document.querySelector('input[name="radio"]:checked').value
    }
    function radio_finish(event){
        document.getElementById('radio_finish').value=document.querySelector('input[name="radio"]:checked').value
    }
</script>