{% extends 'base.html' %}
{% block content %}
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Заголовок страницы в браузере -->
		<title>{{ title }}</title>
		<!-- Bootstrap CSS (jsDelivr CDN) -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">
		<!-- CSS -->
		<!-- <link rel="stylesheet" href="{{ href[5] }}" /> -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src="js/change.js"></script>

	<body>
    <main class="main">
        <div class="questions_wrapper">
    <p class="test-name">Результаты теста к лекции - {{ lecture }}</p>

        <div class="osn-inf">
        {% if count_tasks!=0 %}
					<p class="questions-left">{{ now_task }}/{{ count_tasks }}</p>
                 {% endif %}

					<p class="question">{{ i[1] }}:</p>
                    {% if r[0]==i[0] %}
                        <p class="question">Вы получили: {{ r[2] }} из {{ r[1] }}</p>
                    {% endif %}
					<div class="answer">
						<ul>
                            {% for j in i[2] %}
                                    {% if j[0]!= i[3][0][0] %}
							        <li><label><input type="radio" disabled="disabled" name="radio" value="{{ j[1] }}"><p class="radio-item-1">{{ j[1] }}</p></label></li><br>
                                {% else %}
                                    <li><label><input type="radio" disabled="disabled"  name="radio" value="{{ j[1] }}" checked="checked"><p class="radio-item-1">{{ j[1] }}</p></label></li><br>
                                {% endif %}
                            {% endfor %}
                        </ul>
					</div>


					<div class="another-question">
                    {% if now_task>1 %}
                        <form class="first" method="post">
                            <input type="hidden" id="radio_back" name="radio" value="0" >
                            <input type="hidden" id="hid_back" name="back">
						<ul>
							<li onclick="radio_back()"><button class="another-question-left-img"  ><img src="../static/img/arrows-right.svg" style="transform: scale(-1, 1);"></button></li>
							<li><p class="another-question-left">Перейти к предыдущему вопросу</p></li>
						</ul>
                            </form>
                        {% endif %}
                    {% if now_task==count_tasks %}
                        <form class="third" method="post" style="visibility: hidden">
                        <input type="hidden" id="radio_finish" name="radio" value="0">
                        <input type="hidden" id="hid_finish" name="finish">
						<div onclick="radio_finish()" ><input type="submit"  class="another-question-center" value="закончить тест"></div>
                          </form>
                    {% endif %}
                        {% if now_task<count_tasks %}
                         <form class="second" method="post">
                             <input type="hidden" id="radio_next" name="radio" value="0">
                             <input type="hidden" id="hid_next" name="next">
						<ul>
							<li  onclick="radio_next()"><button class="another-question-right-img"  ><img src="../static/img/arrows-right.svg"></button></li>
							<li><p class="another-question-right">Перейти к следующему вопросу</p></li>
						</ul>
                              </form>
                        {% endif %}

					</div>
                    </div>
				<div class="main-bottom-change">
					<div class="main-bottom-change-first">
						<select class="emotional-condition" id="emotional-condition" name="emotional_condition">
							<option value="Интроверт">Интроверт</option>
							<option value="Амбиверт">Амбиверт</option>
							<option value="Экстраверт">Экстраверт</option>
						</select>
					</div>
				</div>
            </div>
		</main>
        <br>
        <br>
    <br>
    <br>
    <br>
	</body>
<script>
    document.getElementById('radio_back').value=""
    document.getElementById('radio_next').value=""
    document.getElementById('radio_finish').value=""
    document.querySelector("#back_but").addEventListener("click", radio_back);
    document.querySelector("#next_but").addEventListener("click", radio_next);
    document.querySelector("#finish_but").addEventListener("click", radio_finish);
    function radio_back(event){
        document.getElementById('radio_back').value=document.querySelector('input[name="radio"]:checked').value
    }
    function radio_next(event){
        document.getElementById('radio_next').value=document.querySelector('input[name="radio"]:checked').value
    }
    function radio_finish(event){
        document.getElementById('radio_finish').value=document.querySelector('input[name="radio"]:checked').value
    }
</script>
{% endblock %}
